@page "/Dept"
<PageTitle>Department</PageTitle>

<h3>DepartmentComponent</h3>

<select class="form form-control" 
        @bind="DeptID"
        @bind:event="oninput" 
        @onchange="LoadDEpt"> 
    @foreach (var item in DeptList)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
@* <h1>@DeptID</h1>
<input type="button" value="Display" class="btn btn-success" @onclick="LoadDEpt" />
 *@
 <br />
<div style="border:red 2px solid">
    <h2>@Department.Name</h2>
    <h3>@Department.ManagerName</h3>
    @* <input @bind-value="Department.Name" /> *@
</div>
@code {
    public int DeptID { get;  set;}
    public Department Department { get; set; }
    public List<Department> DeptList { get; set; }
    public DepartmentComponent()
    {
        DeptList = new List<Department>();
        DeptList.Add(new Department()
            {
                Id = 1,
                Name = "SD",
                ManagerName = "Ahmed"
            });
        DeptList.Add(new Department()
            {
                Id = 2,
                Name = "OS",
                ManagerName = "Mohamed"
            });
        DeptList.Add(new Department()
            {
                Id = 3,
                Name = "Digital Marketing",
                ManagerName = "Ahmed"
            });

        Department = DeptList.FirstOrDefault();
    }

    void LoadDEpt()
    {
        Department = DeptList.FirstOrDefault(d => d.Id == DeptID);
    }
}
